<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.barcodescanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/barcode_scanner_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.barcodescanner.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.barcodescanner.camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="product.ProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.debug.BarcodeViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_barcode_view" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.database.DatabaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.product.ProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.product.NoProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_no_product" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.product.AddNewProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_new" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.product.AddManuallyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_manually" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.product.EditProductActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit_product" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.activities.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.activities.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.activities.MainIntroActivity"
            android:label="@string/title_activity_main_intro"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.github.barcodescanner.activities.DatabaseIntroActivity"
            android:label="@string/title_activity_database_intro" >
        </activity>
    </application>

</manifest>